<div class="container" style="margin-bottom: 2%;">
    <div class="card shadow-lg">
        <h1 class="card-header bg-dark text-white">My Profile</h1>
        <form #form = "ngForm" (ngSubmit)="update(form.value)" class="card-body">
            <div class = "form-group">
                <label for="name">Name</label>
                <input disabled [ngModel] = "userName" type="text" required #name = "ngModel" name="name" class="form-control">
            </div>
    
            <div class = "form-group">
                <label for="phone">Phone Number</label>
                <input disabled [ngModel] = "userPhone" type="tel" required #phone = "ngModel" name="phone" class="form-control">
            </div>

            <div class = "form-group">
                <label for="email">Email</label>
                <input disabled [ngModel] = "userEmail" type="email" #email = "ngModel" name="email" class="form-control">
            </div>

            <div class = "form-group">
                <label for="address">Address</label>
                <input [ngModel] = "customerAddress" type="text" required #address = "ngModel" name="address" class="form-control">
                <div *ngIf = "address.touched && address.invalid" class="alert alert-danger">
                    Address is Required
                </div>
            </div>

            <div class = "form-group">
                <label for="nameOnCard">Name on Card</label>
                <input [ngModel] = "customerNameOnCard" type="text" pattern ="[a-zA-Z][a-zA-Z ]*" required #nameOnCard = "ngModel" name="nameOnCard" class="form-control">
                <div *ngIf = "nameOnCard.touched && nameOnCard.invalid" class="alert alert-danger">
                    Name on Card is Required
                </div>
            </div>
            <div class = "form-group">
                <label for="cardNumber">Credit Card Number</label>
                <input [ngModel] = "customerCardNumber" type="number" pattern="[0-9]{16}" required #cardNumber = "ngModel" name="cardNumber" class="form-control">
                <div *ngIf = "cardNumber.touched && cardNumber.invalid" class="alert alert-danger">
                    Credit Card Number is Invalid
                </div>
            </div>
            <div class = "form-group">
                <label for="expirationDate">Expiration Date</label>
                <input [ngModel] = "customerExpirationDate" type="text" pattern="(0[1-9]|1[0-2])\/[0-9]{2}" required #expirationDate = "ngModel" name="expirationDate" class="form-control">
                <div *ngIf = "expirationDate.touched && expirationDate.invalid" class="alert alert-danger">
                    Expiration Date is Invalid
                </div>
            </div>
            <div class = "form-group">
                <label for="CVV">CVV</label>
                <input [ngModel] = "customerCVV" type="number" pattern="[0-9]{3}" required #CVV = "ngModel" name="CVV" class="form-control">
                <div *ngIf = "CVV.touched && CVV.invalid" class="alert alert-danger">
                    CVV is Invalid
                </div>
            </div>

            <div class = "form-group">
                <label for="rank">Rank</label>
                <input disabled [ngModel] = "customerRank" type="text" required #rank = "ngModel" name="rank" class="form-control">
            </div>
            <button class="btn btn-primary btn-block" [disabled] = "form.invalid">Save</button>
        </form>
    </div>
</div>

