<div class="container">
    <h1>CURRENT ORDERS</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Ordered On</th>
                <th>Total</th>
                <th>Status</th>
                <th>Current Bid</th>
                <th>Current Bidder</th>
                <th>View</th>
                <th>Start Bid</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor = "let order of (orders$|async)" >
                <tr *ngIf = "order.status != 'DELIVERED'">
                    <td>{{order.orderedOn.seconds*1000 | date:'medium'}}</td>
                    <td>{{order.total|currency}}</td>
                    <td>{{order.status}}</td>
                    <td>{{order.currentBid|currency}}</td>
                    <td>{{order.currentBidder?order.currentBidder:"N/A"}}</td>
                    <td><button class = "btn btn-primary" (click) = "startBid(order)">Start Bid</button></td>
                    <td><a class = "btn btn-primary" [routerLink] = "['/manager/orders/',order.uid]">View</a></td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <h1>PAST ORDERS</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Ordered On</th>
                <th>Total</th>
                <th>Delivered On</th>
                <th>Food Rating</th>
                <th>Delivery Rating</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor = "let order of (orders$|async)">
                <tr *ngIf = "order.status == 'DELIVERED'">
                    <td>{{order.orderedOn.seconds*1000 | date:'medium'}}</td>
                    <td>{{order.total|currency}}</td>
                    <td>{{order.deliveredOn?order.deliveredOn:"N/A"}}</td>
                    <td>{{order.foodRating?order.foodrating:"N/A"}}</td>
                    <td>{{order.deliveryRating?order.deliveryRating:"N/A"}}</td>
                    <td><a class = "btn btn-primary" [routerLink] = "['/manager/orders/',order.uid]">View</a></td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>