<div class="container">
    <button class="btn btn-primary" routerLink = "add">Add Employee</button>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let employee of employeesArr">
                <td>{{employee[1].name}}</td>
                <td>{{employee[0].position|uppercase}}</td>
                <td><a class = "btn btn-primary" [routerLink] = "['/manager/employees/',employee.uid]">View</a></td>
            </tr>
        </tbody>
    </table>
</div>
