<div class="container">
    <form #form = "ngForm">
        <br>
        <div class = "form-group">
            <label for="name">Name</label>
            <input disabled [ngModel] = "userName" type="text" required #name = "ngModel" name="name" class="form-control">
        </div>

        <div class = "form-group">
            <label for="phone">Phone Number</label>
            <input disabled [ngModel] = "userPhone" type="tel" required #phone = "ngModel" name="phone" class="form-control">
        </div>

        <div class = "form-group">
            <label for="email">Email</label>
            <input disabled [ngModel] = "userEmail" type="email" #email = "ngModel" name="email" class="form-control">
        </div>

        <div class = "form-group">
            <label for="address">Address</label>
            <input disabled [ngModel] = "customerAddress" type="text" required #address = "ngModel" name="address" class="form-control">
        </div>

        <div class = "form-group">
            <label for="averageRating">Average Rating</label>
            <input disabled [ngModel] = "customerAverageRating" type="number" required #averageRating = "ngModel" name="averageRating" class="form-control">
        </div>

        <div class = "form-group">
            <label for="rank">Rank</label>
            <input disabled [ngModel] = "customerRank" type="text" required #rank = "ngModel" name="rank" class="form-control">
        </div>
        <button *ngIf = "customerRank=='Guest'" type="button" class="btn btn-primary btn-block" [disabled] = "form.invalid" (click) = "promote()">Promote</button>
        <br>
    </form>
</div>
    
    