<table class="table">
    <th class="thead-dark">
        <tr>
            <th>Ordered On</th>
            <th>Total</th>
            <th>Delivered On</th>
            <th>Food Rating</th>
            <th>Delivery Rating Rating</th>
        </tr>
    </th>
    <tbody>
        <tr *ngFor = "let order of myOrders">
            <td>{{order.orderedOn.seconds*1000 | date:'medium'}}</td>
            <td>{{order.total}}</td>
            <td>Delivered On</td>
            <td>Food Rating</td>
            <td>Delivery Rating Rating</td>
        </tr>
    </tbody>
</table>