<div class="container">
    <div class="card rounded-lg shadow-lg">
        <table class="table">
            <thead class="thead-dark card-header">
                <tr>
                    <th>Ordered On</th>
                    <th>Total</th>
                    <th>Delivered On</th>
                    <th *ngIf = "!guest">Food Rating</th>
                    <th *ngIf = "!guest">Delivery Rating</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody class="card-body">
                <ng-container *ngFor = "let order of (orders$|async)">
                    <tr *ngIf = "userid == order.orderedBy">
                        <td>{{order.orderedOn.seconds*1000 | date:'medium'}}</td>
                        <td>{{order.total|currency}}</td>
                        <td>{{order.deliveredOn?(order.deliveredOn.seconds*1000 | date:'medium'):"N/A"}}</td>
                        <td *ngIf = "order.deliveredOn && !guest">
                            <select [(ngModel)] = "order.foodRating" #foodRating = "ngModel" name="foodRating" id="foodRating" class = "form-control" (change) = "foodRatingChange(order,foodRating.value)">
                                <option value = "1">1</option>
                                <option value = "2">2</option>
                                <option value = "3">3</option>
                                <option value = "4">4</option>
                                <option value = "5">5</option>
                            </select>
                        </td>
                        <td *ngIf = "!order.deliveredOn && !guest">N/A</td>
                        <td *ngIf = "order.deliveredOn && !guest">
                            <select [(ngModel)] = "order.deliveryRating" #deliveryRating = "ngModel" name="deliveryRating" id="deliveryRating" class = "form-control" (change) = "deliveryRatingChange(order,deliveryRating.value);">
                                <option value = "1">1</option>
                                <option value = "2">2</option>
                                <option value = "3">3</option>
                                <option value = "4">4</option>
                                <option value = "5">5</option>
                            </select>
                        </td>
                        <td *ngIf = "!order.deliveredOn && !guest">N/A</td>
                        <td><a class = "btn btn-primary" [routerLink] = "['/customer/my-orders/',order.uid]">View</a></td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

    <button hidden id="foodCommentButton"type="button" class="btn btn-primary" data-toggle="modal" data-target="#foodCommentModal">
        Open modal
    </button>
    <div class="modal" id="foodCommentModal">
        <div class="modal-dialog">
            <div class="modal-content">
        
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Please add a comment</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            
                <!-- Modal body -->
                <div class="modal-body">
                    <textarea ngModel #foodComment = "ngModel" name="" id="" cols="60" rows="5"></textarea>
                </div>
            
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "addFoodComment(foodComment.value);">Submit</button>
                </div>
        
            </div>
        </div>
    </div>

    <button hidden id="deliveryRatingButton"type="button" class="btn btn-primary" data-toggle="modal" data-target="#deliveryCommentModal">
        Open modal
    </button>
    <div class="modal" id="deliveryCommentModal">
        <div class="modal-dialog">
            <div class="modal-content">
        
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Please add a comment</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            
                <!-- Modal body -->
                <div class="modal-body">
                    <textarea ngModel #deliveryComment = "ngModel" name="" id="" cols="60" rows="5"></textarea>
                </div>
            
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "addDeliveryComment(deliveryComment.value);">Submit</button>
                </div>
        
            </div>
        </div>
    </div>
</div>