<nav class = "navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class = "navbar-brand" routerLink="/salesperson">Kitchen Zealot</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseNavBar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id = "collapseNavBar">
        <ul class = "navbar-nav ml-auto">
            <li class = "nav-item">
                <a class = "nav-link" routerLink="order">Order</a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link" routerLink="requested">Requests</a>
            </li>

            <li class = "nav-item dropdown">
                <a class = "nav-link dropdown-toggle" id ="navbardrop" data-toggle="dropdown"style="cursor:pointer;">{{username}}</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" (click) = "signOut()">Sign Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
            