<div *ngIf = "product.title" class="card shadow rounded-lg">
    <img [src]="product.imageUrl" alt="{{product.title}}" class="card-img-top" style="width:100%;height:20vw;object-fit:cover;" *ngIf = "product.imageUrl">
    <div class="card-body">
        <h4 class="card-title">{{product.title}}</h4>
        <p class="card-text">{{product.price | currency:'USD':'symbol'}}</p>
    </div>
    <div *ngIf = "showActions" class="card-footer">
        <div *ngIf = "guest;else customer">
            <button *ngIf="quantity == 0;else updateQuantity"class = "btn btn-primary btn-block" (click) = "addToGuestCart()">Add to Cart</button>
            <ng-template #updateQuantity>
                <div class="row no-gutters">
                    <div class = "col-2">
                        <button class="btn btn-secondary btn-block" (click) = "removeFromGuestCart()">-</button>
                    </div>
                    <div class = "col text-center my-auto">
                        {{quantity}} in cart
                    </div>
                    <div class = "col-2">
                        <button class="btn btn-secondary btn-block" (click) = "addToGuestCart()" >+</button>
                    </div>
                </div>
            </ng-template>
        </div>
        <ng-template #customer>
            <button *ngIf="quantity == 0;else updateQuantity2" class = "btn btn-primary btn-block" (click) = "addToCart()">Add to Cart</button>
            <ng-template #updateQuantity2>
                <div class="row no-gutters">
                    <div class = "col-2">
                        <button class="btn btn-secondary btn-block" (click) = "removeFromCart()">-</button>
                    </div>
                    <div class = "col text-center my-auto">
                        {{quantity}} in cart
                    </div>
                    <div class = "col-2">
                        <button class="btn btn-secondary btn-block" (click) = "addToCart()" >+</button>
                    </div>
                </div>
            </ng-template>
        </ng-template>
    </div>
    <div *ngIf = "!showActions && cook" class = "card-footer">
        <a class="btn btn-primary btn-block" [routerLink] = "['/cook/modify-menu/',product.uid]">Edit</a>
    </div>
</div>
    