<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Guest Customers</h1>
            <table class="table">
                <thead class="thead-dark card-header">
                    <tr>
                        <th>Name</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody class="card-body">
                    <tr *ngFor = "let customer of guestCustomersArr">
                        <td>{{customer[1].name}}</td>
                        <td><a class = "btn btn-outline-primary" [routerLink] = "['/manager/customers/',customer[0].uid]">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h1>Blacklisted Customers</h1>
            <table class="table">
                <thead class="thead-dark card-header">
                    <tr>
                        <th>Name</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody class="card-body">
                    <tr *ngFor = "let customer of blacklistedCustomersArr">
                        <td>{{customer[1].name}}</td>
                        <td><a class = "btn btn-outline-primary" [routerLink] = "['/manager/customers/',customer[0].uid]">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            <h1>Normal Customers</h1>
            <table class="table">
                <thead class="thead-dark card-header">
                    <tr>
                        <th>Name</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody class="card-body">
                    <tr *ngFor = "let customer of normalCustomersArr">
                        <td>{{customer[1].name}}</td>
                        <td><a class = "btn btn-outline-primary" [routerLink] = "['/manager/customers/',customer[0].uid]">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h1>VIP Customers</h1>
            <table class="table">
                <thead class="thead-dark card-header">
                    <tr>
                        <th>Name</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody class="card-body">
                    <tr *ngFor = "let customer of VIPCustomersArr">
                        <td>{{customer[1].name}}</td>
                        <td><a class = "btn btn-outline-primary text-primary" [routerLink] = "['/manager/customers/',customer[0].uid]">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
