<div class="container">
    <div class="card rounded-lg shadow-lg">
        <table class="table">
            <thead class="thead-dark card-header">
                <tr>
                    <th>Title</th>
                    <th>Current Amount</th>
                    <th>Request Amount</th>
                </tr>
            </thead>
            <tbody class="card-body">
                <ng-container *ngFor = "let inventoryItem of (inventory$|async)">
                    <tr>
                        <td>{{inventoryItem.ingredient.title}}</td>
                        <td>{{inventoryItem.quantity}}</td>
                        <td>
                            <div class="row">
                                <div class="col-3">
                                    <button class = "btn btn-primary btn-block" (click) = "removeRequested(inventoryItem)">-</button>
                                </div>
                                <div class="col-6">
                                    <div class = "text-center">{{inventoryItem.requestedQuantity}}</div>
                                </div>
                                <div class="col-3">
                                    <button class = "btn btn-primary btn-block" (click) = "addRequested(inventoryItem)">+</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <button class="btn btn-primary btn-block" (click) = "request()">Request Supplies</button>
    </div>
    <br>
    <div>
        <table class="table">
            <thead class="thead-dark card-header">
                <tr>
                    <th>Requested On</th>
                    <th>Status</th>
                    <th>Contents</th>
                </tr>
            </thead>
            <tbody class="card-body">
                <ng-container *ngFor = "let request of (requests$|async)">
                    <tr>
                        <td *ngIf= "request.requestedOn">{{request.requestedOn.seconds*1000 | date:'medium'}}</td>
                        <td>{{request.status}}</td>
                        <td>
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor = "let cartItem of request.contents">
                                        <td>{{cartItem.ingredient.title}}</td>
                                        <td>{{cartItem.ingredient.price|currency}}</td>
                                        <td>{{cartItem.requestedQuantity}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>