<div class="container" style="margin-bottom: 2%">
    <table class="table table-bordered">
        <thead class="thead-dark card-header">
            <tr>
                <th colspan = "3">Frequently Ordered</th>
            </tr>
        </thead>
        <tbody>
            <td *ngIf = "sortedArray[0]">{{sortedArray[0][0]}}</td>
            <td *ngIf = "sortedArray[1]">{{sortedArray[1][0]}}</td>
            <td *ngIf = "sortedArray[2]">{{sortedArray[2][0]}}</td>
        </tbody>
    </table>
</div>
<hr>

<button class="btn btn-block btn-primary container" (click) = "vOrder()" style="margin-bottom: 1%">VOICE ORDER</button>

<div class="row" style="margin-top: 2%; margin-bottom: 2%;">
    <div class="col-8"><app-menu [showActions] = "true" [guest] = "false" [cook] = "false"></app-menu></div>
    <div class="col-3"><app-cart [checkout] = "false" [guest] = "false"></app-cart></div>
</div>
