<div class="container">
    <div class="card rounded-lg shadow-lg">
        <h1 class="card-header bg-dark text-white">Add Employee</h1>
        <form #form = "ngForm" (ngSubmit) = "add(form.value)" class="card-body"> 
            <div class = "form-group">
                <label for="name">Name</label>
                <input ngModel type="text" required #name = "ngModel" name="name" class="form-control">
                <div *ngIf = "name.touched && name.invalid" class="alert alert-danger">
                    Name is Required
                </div>
            </div>

            <div class = "form-group">
                <label for="email">Email</label>
                <input ngModel type="email" required #email = "ngModel" name="email" class="form-control">
                <div *ngIf = "email.touched && email.invalid" class="alert alert-danger">
                    Email is Required
                </div>
            </div>

            <div class = "form-group">
                <label for="phone">Phone Number</label>
                <input ngModel type="tel" required #phone = "ngModel" name="phone" class="form-control">
                <div *ngIf = "phone.touched && phone.invalid" class="alert alert-danger">
                    Password is Required
                </div>
            </div>

            <div class = "form-group">
                <label for="position">Position</label>
            <select ngModel #position = "ngModel" class = "form-control" name="position" id="position">
                    <option value=""></option>
                <option value="cook">Cook</option>
                <option value="delivery">Delivery</option>
                <option value="salesperson">Salesperson</option>
            </select>
                <div *ngIf = "position.touched && position.invalid" class="alert alert-danger">
                    Position is Required
                </div>
            </div>

            <div class = "form-group">
                <label for="salary">Salary</label>
                <input ngModel type="number" required #salary = "ngModel" name="salary" class="form-control">
                <div *ngIf = "salary.touched && salary.invalid" class="alert alert-danger">
                    Salary is Required
                </div>
            </div>
            <button class="btn btn-primary btn-block">Add</button>
        </form>
    </div>
</div>