<div style="position:absolute;top:0;left:0;bottom:0;right:0;height:100%;width:100%;" id="display" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#display" data-slide-to="0" class="active"></li>
        <li data-target="#display" data-slide-to="1"></li>
        <li data-target="#display" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div style="height:100%;width:100%;"class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 vh-100" src="./../../../../assets/homepage-contentbg1.jpg">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 vh-100" src="./../../../../assets/homepage-contentbg2.jpg">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 vh-100" src="./../../../../assets/homepage-contentbg3.jpg">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#display" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#display" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<img class = "d-block mx-auto" style="position:relative;z-index:1;width:30%;"src="./../../../../assets/logo.png">