<div class="container">
    <div class="card shadow-lg" style="margin-bottom: 5%">
        <h1 class="card-header">CURRENT ORDERS</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Ordered On</th>
                    <th>Total</th>
                    <th>Order Destination</th>
                    <th>Status</th>
                    <th>Delivery Rating</th>
                    <th>Action</th>
                    <th>Track</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor = "let order of (orders$|async)" >
                    <tr *ngIf = "(order.status == 'BID OVER'||order.status == 'OUT FOR DELIVERY') && deliveryUid == order.currentBidder">
                        <td>{{order.orderedOn.seconds*1000 | date:'medium'}}</td>
                        <td>{{order.total|currency}}</td>
                        <td>{{order.orderDestination}}</td>
                        <td>{{order.status}}</td>
                        <td>{{order.deliveryRating?order.deliveryRating:"N/A"}}</td>
                        <td *ngIf = "order.status == 'BID OVER'"><button class = "btn btn-primary" (click) = "outForDelivery(order)">Out For Delivery</button></td>
                        <td *ngIf = "order.status == 'OUT FOR DELIVERY'"><button class = "btn btn-primary" (click) = "delivered(order)">Delivered</button></td>
                        <td><button class = "btn btn-primary" (click) = "track(order)">Track</button></td>
                        <td><a class = "btn btn-outline-primary" [routerLink] = "['/delivery/orders/',order.uid]">View</a></td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

    <div class="card shadow-lg rounded-lg" style="margin-bottom: 5%">
        <h1 class="card-header">PAST ORDERS</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Ordered On</th>
                    <th>Order Destination</th>
                    <th>Delivered On</th>
                    <th>Delivery Rating</th>
                    <th>Customer Rating</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor = "let order of (orders$|async)">
                    <tr *ngIf = "order.status == 'DELIVERED' && deliveryUid == order.deliveredBy">
                        <td>{{order.orderedOn.seconds*1000 | date:'medium'}}</td>
                        <td>{{order.orderDestination}}</td>
                        <td>{{order.deliveredOn?(order.deliveredOn.seconds*1000 | date:'medium'):"N/A"}}</td>
                        <td>{{order.deliveryRating?order.deliveryRating:"N/A"}}</td>
                        <td *ngIf = "!order.deliveryRating && !order.customerRating">
                            <select [(ngModel)] = "order.customerRating" #customerRating = "ngModel" name="customerRating" id="customerRating" class = "form-control" (change) = "customerRatingChange(order,customerRating.value)">
                                <option value = "1">1</option>
                                <option value = "2">2</option>
                                <option value = "3">3</option>
                                <option value = "4">4</option>
                                <option value = "5">5</option>
                            </select>
                        </td>
                        <td *ngIf = "order.deliveryRating && !order.customerRating">N/A</td>
                        <td *ngIf = "order.deliveryRating && order.customerRating">{{order.customerRating}}</td>
                        <td><a class = "btn btn-outline-primary" [routerLink] = "['/delivery/orders/',order.uid]">View</a></td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>