<body>
    <img src="./../../../../assets/logo.png" class="logo center">
    <div class="container">
        <div class="card rounded-lg shadow-lg">
            <h1 class="card-header bg-dark text-white">Sign In</h1>
            <form #form = "ngForm" (ngSubmit)="login(form.value)" class="card-body">
                <div *ngIf = "this.authServe.error" class="alert alert-danger">
                    {{this.authServe.error}}
                </div>
                <div class = "form-group">
                    <label for="email">Email</label>
                    <input ngModel type="email" required #email = "ngModel" name="email" class="form-control">
                </div>

                <div class = "form-group">
                    <label for="password">Password</label>
                    <input ngModel type="password" required #password = "ngModel" name="password" class="form-control">
                </div>
                <div class="row m-2">
                    <div class="col">
                        <button class="btn btn-primary btn-block">Login</button>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-6">
                        <a class="btn btn-warning btn-block" routerLink="/register" type = "button">Sign Up</a>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-secondary btn-block" type = "button" (click) = "guestLogin()">Continue as Guest</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>