<div class="container w-50">
    <form #form = "ngForm" (ngSubmit)="login(form.value)">
        <div class = "form-group">
            <label for="email">Email</label>
            <input ngModel type="email" required #email = "ngModel" name="email" class="form-control">
            <div *ngIf = "email.touched && email.invalid" class="alert alert-danger">
                Email is Required
            </div>
        </div>

        <div class = "form-group">
            <label for="password">Password</label>
            <input ngModel type="password" required #password = "ngModel" name="password" class="form-control">
            <div *ngIf = "password.touched && password.invalid" class="alert alert-danger">
                Password is Required
            </div>
        </div>
        <div class="row m-2">
            <div class="col">
                <button class="btn btn-primary btn-block">Login</button>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-6">
                <button class="btn btn-warning btn-block">Sign Up</button>
            </div>
            <div class="col-6">
                <button class="btn btn-secondary btn-block">Continue as Guest</button>
            </div>
        </div>
    </form>
</div>