<div class="sticky-top" style="padding-top: 20%">
    <div class="card shadow rounded-lg">
        <table class="table">
            <thead class="thead-dark card-header">
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody class="card-body">
                <tr *ngFor = "let cartItem of shoppingCart">
                    <td>{{cartItem.product.title}}</td>
                    <td>{{cartItem.product.price|currency}}</td>
                    <td>{{cartItem.quantity}}</td>
                </tr>
                <tr>
                    <td>Subtotal</td>
                    <td>{{subtotal|currency}}</td>
                </tr>
                <ng-container *ngIf = "checkout">
                    <tr>
                        <td>Tax</td>
                        <td>+{{tax|currency}}</td>
                    </tr>
                    <tr>
                        <td>Customer Discount</td>
                        <td>-{{discount|currency}}</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>{{total|currency}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

        <div *ngIf = "!checkout">
            <button *ngIf = "!guest" class="btn btn-primary btn-block" (click) = "order()">Order</button>
            <button *ngIf = "guest" class="btn btn-primary btn-block" routerLink = "/guest/checkout" >Order</button>
        </div>
    </div>
</div>

<button hidden id="freeItemButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#freeItemModal">
        Open modal
</button>
<div class="modal" id="freeItemModal">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">You can choose a free side</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        
            <!-- Modal body -->
            <div class="modal-body">
                <ng-container *ngFor = "let product of products$|async">
                    <ng-container *ngIf = "product.category == 'Side'">
                        <input [(ngModel)] = "freeItemSelected" type="radio" name="foodChoice" [value]="product">{{product.title}}
                    </ng-container>
                </ng-container>
            </div>
        
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "addFreeFood();">Add</button>
            </div>
    
        </div>
    </div>
</div>